
.chat-input-container{
    height: 200px;
    background-color: blue;
    display: block;
    width: 100%;

    .input-content{
        background: black;
        color: white;
        height: 100%;
        
    }
}